<div class="apropos">
  <div>
    <p>Ce livre est une manière d’explorer le corpus de l’archive en ligne <em>Gallica</em>, au travers des enjeux de la reproduction technique, de la formalisation de ces enjeux ansi que leur l’inscription dans la matérialité des livres.</p>
    <p>Cette exploration ironique met en parallèle deux « controverses » nées de l’évolution des techniques de reproduction puis de la numérisation et de la diffusion des contenus protégés par le droit d’auteur sur Internet :</p>
    <ul>
      <li>1980 : la lutte des éditeurs contre la photocopie de leurs ouvrages en dehors des exceptions du droit d’auteur (copie privée) et de la redevance compensatoire. Majoritairement ciblée sur les manuels scolaires, techniques et scientifiques,
        chaque duplication est considérée comme un manque à gagner qui tuerait virtuellement un livre.</li>
      <li>2012 : la loi d’exploitation numérique des livres indisponibles du XX<sup>e</sup> siècle et la création du dispositif ReLIRE : un registre d’<em>oeuvres</em> qui ne sont plus exploitées et qui seront numérisées et recommercialisées, passant
        alors en gestion collective de leur droits si aucun refus n’est formulé par les auteurs ou ayants-droit.</li>
    </ul>
    <p>
      La majorité des livres contenant la mention « le photocopillage tue le livre » font parti du dispositif ReLIRE et sont donc accessibles sur Gallica justement parce qu’ils ne sont plus édités. Le logo semble donc avoir été prémonitoire, voire
      performatif. Mais la plupart de ces livres sont des manuels ou des ouvrages sur des sujets spécifiques, c’est-à-dire les textes les plus suceptibles de subir les effets du temps, de ne plus être d’actualité ou d’être remplacés par un autre
      livre, plus récent ou plus complet. Le logo contre le photocopillage, numérisé et diffusé publiquement sur internet semble donc maintenant anachronique.
    </p>
    <p>Ce projet est la première itération d’un processus d’édition à partir d’archives en ligne mettant en avant l’automatisation de l’extraction des données jusqu’à l’impression d’un livre et l’explicitation des choix formels et éditoriaux.
      Cette page est donc un livre, qui peut être fragmenté et réorganisé pour être imprimé ou commandé en impression à la demande.
    </p>
  </div>
</div>
