<div class="apropos">
  <div>
    <p>Ce projet est une manière d’explorer le corpus de l’archive en ligne <em>Gallica</em>, au travers des enjeux de la reproduction technique, de sa mise en forme et son inscription dans la matérialité des livres.</p>
    <p>Cette exploration ironique et anachronique met en parallèle deux « controverses » nées de l’évolution des techniques et des pratiques face au droit d’auteur :</p>
    <ul>
      <li>1980 : la lutte des éditeurs contre la photocopie de leurs ouvrages en dehors des exceptions du droit d’auteur (copie privée) et de la redevance compensatoire. La campagne de lobbying cherche à diffuser l’idée que chaque duplication est un manque à gagner qui tuerait virtuellement un livre.</li>
      <li>2012 : la loi d’exploitation numérique des livres indisponibles du XX<sup>e</sup> siècle et la création du dispositif ReLIRE : un registre d’<em>œuvres</em> qui ne sont plus exploitées et qui seront numérisées et recommercialisées, passant
        alors en gestion collective de leur droits si aucun refus n’est formulé par les ayants-droit.</li>
    </ul>
    <p>
      La majorité des livres inventoriés ici ne sont plus édités, font parti du dispositif ReLIRE et c’est dans ce cadre qu’ils sont répertorié par la BnF et qu’un aperçu est disponible sur Gallica, monnayant la numérisation ou le <em>fac-similé</em>.
      </p>
      La formule « le photocopillage tue le livre » semble donc avoir été prémonitoire, voire performatif. Mais la plupart de ces livres sont des manuels ou des ouvrages sur des sujets spécifiques, c’est-à-dire les textes les plus susceptibles de subir les effets du temps, de ne plus être d’actualité ou d’être remplacés par un autre
      livre, plus récent ou plus complet. 
      <!-- Le logo contre le photocopillage, numérisé et diffusé publiquement sur internet semble donc maintenant anachronique. -->
    </p>
    <p>Ce projet est la première itération d’un processus d’édition à partir d’archives en ligne mettant en avant l’automatisation de l’extraction des données jusqu’à l’impression d’un livre et l’explicitation des choix formels et éditoriaux.
      Cette page est donc un livre, qui peut être fragmenté et réorganisé pour être imprimé ou commandé en impression à la demande.
    </p>
  </div>
</div>
