<form id="form-book">
  <p id="last-element-viewed"><span>Le résultat est trié par</span>
    <em>
      <select name="sort">
        <option value="byIndexationDate">date d’indexation</option>
        <option value="byPublicationDate">date de publication</option>
        <option value="byAlphabeticalTitle">titre des livres</option>
      </select>
    </em>
  <div id="menu-form">
    <p class=""> et présenté à l’échelle <select name="scale" id="select-scale">
        <option value="1">1:1</option>
        <option value="0.8">4:5</option>
        <option value="0.75">3:4</option>
        <option value="0.666">2:3</option>
        <option value="0.5">1:2</option>
      </select></p>
    <p>Ce fragment rassemble <input id="input-chunk-size" type="number" value="420" min="1" max="420" name="chunk-size"> documents</p>
    <p>et en est le n<sup>o</sup> <input id="input-chunk-part" type="number" value="1" min="1" max="1" name="chunk-part"> (<span id="pages-result">840</span> pages)</p>
    <p>le format du livre est <input id="input-width" type="number" step="0.01" type="number" value="177.8" min="0" name="width">×<input id="input-height" value="254" name="height" min="0" type="number" step="0.01"> millimètres
      (<select id="select-format">
        <option value="A5">A5</option>
        <option value="roman">roman</option>
        <option value="executive" selected="selected">executive</option>
        <option value="A4">A4</option>
        <option value="letter">letter US</option>
        <option value="custom">custom</option>
      </select>)
    </p>
    <input type="submit" value="Web2print" formaction="/chunk" formmethod="GET">
    <input type="submit" value="Couverture" formaction="/cover-client" formmethod="GET">
    <!-- <input type="submit" value="Commander chez lulu.com" formaction="/buy" formmethod="GET"> -->
    <!-- <input type="submit" value="Commander chez lulu.com" formaction="/response" formmethod="GET"> -->
    <p id="last-element-hidden"><span>^</span><span>^</span></p>
  </div>
</form>
