:root {
  --margin-top: 0.19in;
  --margin-side: 0.65in;
}

@page {
  size: var(--WIDTH) var(--HEIGHT);
}

body {
  font-size: 5.5pt;
  line-height: 5.5pt;
}

.page {
  width: var(--WIDTH);
  height: var(--HEIGHT);
}

.documents .page {
  overflow: hidden;
  position: relative;
  background-color: black;
}

.documents .page img {
  position: absolute;
  transform: var(--SCALE);
}

.seuil {
  /*background-color: white!important;*/
  background-color: white;
  padding: var(--margin-top);
  padding-left: var(--margin-side);
  padding-right: var(--margin-side);
  box-sizing: border-box;
}

.intro {
  left: calc(var(--WIDTH) - var(--BLEED));
  width: calc(var(--HEIGHT) - var(--margin-top)*2 );
  top: calc(var(--margin-top));;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  /* text-align: center; */
  z-index: 10;
  font-size: 8pt;
  line-height: 8pt;
  /* text-wrap: balance; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 16pt;
}

.intro p {
  /* margin: 0; */
  display: inline-block;
  margin: auto;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }

  span:has(img){
    height:8pt;
    display: inline-block;
    width:8pt;
    vertical-align: text-bottom;
    position: relative;
  }

  span > img{
    position: absolute;
    height: 9pt;
    width: 9pt;
    z-index: -1;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.biblio {
  column-count: 5;
  column-fill: auto;
  height: 100%;
}

#outro {
  text-align: right;
}

.apropos {
  font-size: 13pt;
  /*max-width: 40em;*/
  /* font-style: italic; */
  hyphens: auto;
  hyphenate-limit-chars: 15 2 4;
  line-height: normal;
}

.apropos p,
.apropos ul {
  margin-bottom: 1.2rem;
}

.apropos ul {
  display: flex;
}

.apropos li {
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}