<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Photocopillage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
    {% set PAGEWIDTH = book['width'] + book['bleed'] * 2 %}
    {% set PAGEHEIGHT = book['height'] + book['bleed'] * 2 %}
    {% set n_chunk_start = "%03d" % ((book['chunk_part']*book['chunk_size'])+1) %}
    {% set n_chunk_end = "%03d" % ((book['chunk_part'] * book['chunk_size']) + documents|length) %}
    <style>
      :root{
        --WIDTH: {{ PAGEWIDTH }}in;
        --HEIGHT: {{ PAGEHEIGHT }}in;
        --BLEED: {{ book['bleed'] }}in;
        --SCALE: {{ book['scale'] }};
      }
      @page {
        size: {{ PAGEWIDTH }}in {{ PAGEHEIGHT }}in;
      }
    </style>
</head>
<body>
<div class="page seuil">
   <div class="intro">
        <p>Ce livre est généré à partir de l’archive en&nbsp;ligne&nbsp;<em>Gallica</em></p>
        <p>Il agrège les&nbsp;documents qui&nbsp;comportent l’expression&nbsp;<em>photocopillage</em></p>
        <p>Filtré et centré par le&nbsp;pictogramme <span><img src="{{ url_for('static', filename='photocopillage.png') }}" alt="logo photocopillage"></span></p>
        <p>Trié par <em>date&nbsp;d’indexation</em> des documents</p>
        <p>Présenté à l’échelle <em>1:1</em></p>
        <p>Ce fragment rassemble les&nbsp;occurences <em>{{ n_chunk_start }}</em> à <em>{{ n_chunk_end }}</em></p>
        <p><a href="https://photocopillage.brulé.net">photocopillage.brulé.net</a></p>
    </div>
   <ol class="biblio">
        {% for document in documents %}
        <li class="doc">
            <a href="#{{ document['id'] }}">
                <p class="id">{{ document['id'] }}</p>
                <p class="title">{{ document['title'] }}</p>
            </a>
        </li>
        {% endfor %}
   </ol>
</div>
<div class="documents">
{% for document in documents %}
    {% set page=document['pages'][0] %}
    {% if page.get("available", True) %}
    <div class="book">
      <div id="{{ document['id'] }}" class="page page-cover">
          {% set img_url="images/"+document['id']+".jpg" %}
          {% set height = page['size']['height']/book['dpi'] %}
          {% set targetX = page['match']['center'][0]/book['dpi'] %}
          {% set  targetY = page['match']['center'][1]/book['dpi'] %}
          {% set left = (PAGEWIDTH/2) - targetX %}
          {% set top = (PAGEHEIGHT/2) - targetY %}
          {% if book['noscript'] %}
              <img src="{{ url_for('static', filename=img_url) }}" style="height:{{ height }}in; transform-origin: {{ targetX }}in {{targetY}}in; left:{{left}}in; top:{{top}}in">
          {% else %}
              <img class="lazy" data-src="{{ url_for('static', filename=img_url) }}" style="height:{{ height }}in; transform-origin: {{ targetX }}in {{targetY}}in; left:{{left}}in; top:{{top}}in">
          {% endif %}
      </div>
      <div class="page page-logo">
          {% set img_url="images/" + document['id'] + "-f" + page['pagination'] + ".jpg" %}
          {% if book['noscript'] %}
              <img src="{{ url_for('static', filename=img_url) }}" style="height:{{ height }}in; transform-origin: {{ targetX }}in {{targetY}}in; left:{{left}}in; top:{{top}}in">
          {% else %}
              <img class="lazy" data-src="{{ url_for('static', filename=img_url) }}" style="height:{{ height }}in; transform-origin: {{ targetX }}in {{targetY}}in; left:{{left}}in; top:{{top}}in">
          {% endif %}
      </div>
    </div>
    {% endif %}
{% endfor %}
</div>

<script src="{{ url_for('static',filename='js/book.js') }}"></script>
</body>
</html>
